/* Slider */
.slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus{
    outline: none;
}
.slick-list.dragging{
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track, .slick-slider .slick-list{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before, .slick-track:after{
    display: table;
    content: '';
}
.slick-track:after{
    clear: both;
}
.slick-loading .slick-track{
    visibility: hidden;
}
.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
	margin: 0 20px 0 0;
}
[dir='rtl'] .slick-slide{
    float: right;
}
.slick-slide img{
    display: block;
}
.slick-slide.slick-loading img{
    display: none;
}
.slick-slide.dragging img{
    pointer-events: none;
}
.slick-initialized .slick-slide{
    display: block;
	position: relative;
}
.slick-loading .slick-slide{
    visibility: hidden;
}
.slick-vertical .slick-slide{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.slick-dots {
    list-style: none;
    text-align: center;
}
.slick-dots li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}
.slick-dots li.slick-active button {
	background: rgba(255, 255, 255, 0.4);
	border: 2px solid #fff;
}
.slick-dots li button{
	width: 12px;
	height: 12px;
	background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    text-indent: -999px;
    overflow: hidden;
    padding: 0;
}

/* main-banner ====================*/
.banner .slick-slide {
    margin: 0;
    width: 100vw;
}
.banner .slick-dots {
    position: absolute;
    bottom: 30px;
    left: 40px;
    margin: 15px 0 0;
}
.banner .slick-dots li {
    display: inline-table;
    margin: 0 10px 0 0;
}
.banner .slick-prev,.banner .slick-next { display: none !important;}
/* sales ====================*/
.sales .slick-slide {

}
.sales .slick-prev,.sales .slick-next { display: none !important;}
.sales .slick-dots li.slick-active button {
background: rgba(0, 0, 0, 0.09);
border: 2px solid #989898;
}
.sales .slick-dots li button{
	background: rgba(255, 255, 255, 0.1);
	border: 2px solid rgba(0, 0, 0, 0.09);
}
.sales .slick-dots {
    position: relative;
    margin: 30px auto 0;
}
.sales .slick-dots li {
    display: inline-table;
    margin: 0 10px 0 0;
}
/* About-banner ====================*/
.about .slick-slide {
}
.about .slick-dots {
    position: absolute;
    bottom: 25px;
    left: 30px;
    margin: 15px 0 0;
}
.about .slick-dots li {
    display: inline-table;
    margin: 0 10px 0 0;
}
.about .slick-prev,.about .slick-next { display: none !important;}
/* benefits-banner ====================*/
.benefits .slick-slide {
    margin: 0;
    width: 100vw;
}
.benefits .slick-dots li.slick-active button {
background: rgba(0, 0, 0, 0.09);
border: 2px solid #989898;
}
.benefits .slick-dots li button{
	background: rgba(255, 255, 255, 0.1);
	border: 2px solid rgba(0, 0, 0, 0.09);
}
.benefits .slick-dots {
    margin: 30px auto 0;
}
.benefits .slick-dots li {
    display: inline-table;
    margin: 0 10px 0 0;
}
.benefits .slick-prev,.benefits .slick-next { display: none !important;}
